<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAAMAAAADACAYAAABS3GwHAAAAAXNSR0IArs4c6QAAIABJREFUeF7t
         nQd0FFUXgL/ZbLKpEJIQSCgh9CJFMNKkBKQZQIpUFZFeQg1NAUEQBRGpAaQjRUB6KGKlSEfpvQUI
         Nb1ns9md/2wC/hZKQnY3O7Mz53AO5+TtvJl77zev3PIEURRFlEuRgI1KQFAAsFHNK6+dKQEFAMUQ
         bFoCCgA2rX7l5RUAFBuwaQkoANi0+pWXVwBQbMCmJaAAYNPqV15eAUCxAZuWgAKATatfeXkFAMUG
         bFoCCgA2rX7l5RUAFBuwaQkoANi0+pWXVwB4ng2Iafy+6gQ7TiaQpDOlsQhonN1p3bcydUu5ojbl
         rZV75UgCCgDPFJeI/tENBrYNY9WReFIMOZLrCxs7uuXjvWltmdbDDw+N8ML2SgPzSEAB4FlyFfVc
         3/obHQcf42SEDlMnTQhqNSXqVWflykbULqpBrTBgHgt/wV0VAJ4hIDE1lhWjdjBm8Q0eac2hGwEX
         by9GLetESFMPXOwVAswh5RfdUwHgqRISib90lcF9drP2QBwZL5LiS/5d5aShYd+mLJlQhRLuahQE
         XlKQufiZAsBThCfqdZzcfIh+ww9yPMKkq99/9iYI+FYvxfT5rej4Wj7UqlxoUvnpS0lAAeApYstI
         SmD1lB2MmnWdyDQTr37/1Z+9hwf9J73Fp338cbdXCHgpK87FjxQA/iM8kbjbdxjfawuLfo0jXZ8L
         6Wbjpyo7B+p3f4P5X9SmQkFlQzQbIjNpEwWAf4vTYODKTwfo3vswRyO0GEy9/fPv/lQCXtXLETqv
         Ge1ed1d2g0xq3i++mQLAv2SkT09hyycbCA69w8Mk805/nnRt75qPTpNaMrNfabyclKXwi83WdC0U
         AP4uS9FA6r0bDGsfxqrjCSZ3fj1LbUafgF+zWmxc9Aav+mpQVgKmM/AX3UkB4G8SMmTouLp9Lx2D
         j3P2vumdX89UhiDg5O3LhG/fZmCgF66KT+BFdmuyvysA/E2UGUkxfDsqjDHLwok0i/Pr2XoT7B0I
         6PYma6ZXo1QBe8UnYDITf/6NFACeyEcUib14mUG997DhUBxm3P1/hkYEilQsw5z1rWldyUVZDCsA
         WEgCj7sRM9L5Y+NB+o48zJ/mdH4957UcvT0Y/OXbjO9aTJkGWUj9ygjwWNC6+Di+nbKLj+aa3/n1
         7MWwI42612Pe1ADKe9pbyARsuxsFgEz9i0Rfv8X4fltZ8ls8OjM7v563GPaoUpq5C1rQsXYBJU/A
         AmwqABiFrNdx/odD9O57iKP30s3v/HqOYu3c3OkzvSWTu5fEU8kTMDsCCgBARnISmyZ9T3BoBFHJ
         lnF+PXMapLKjXOs3WBNam2qKT0ABwOwSEA0k3LnByHe2surPZFLzavrztxdVO3jxaVgnBjXywk0J
         DzKrCdj8CGBIT+dy2G906H+Ci5EZ5O33P0vXgp0ddYe9zeqxFfBzVwgwJwE2DoCINiGW1aO2MXLl
         bWLTzCnqnNxbwLdSZZZvbUbjUs7YKeFBORFejtraNgCigejzlxj04Y9sPBGfB86vZ+vK2Ss/w2d1
         YFRHX9yU0IgcGXVOGts0AIYMLSfWH6TP6COcvmt53+9zFaW2p8H79Qj9sjaVvJRpUE6MOidtbRoA
         XVwsyyftZtz860RqrWH2/3fVCRQKKE/ogua0rZFPiRDNiVXnoK0NAyASdfkGYweGsXxvHjq/nqcs
         9wIETwti4gel8NTkQKtK02xLwHYB0Kdzeuch+vY7xPEHujx1fj1PW0Vb12PjnLq87qdRIkSzbdbZ
         b2izAOgSE/h+8kYGzbtLTKq1TX/+r0DBtQhzwtrQvb4XrkqmTPYtO5stbRMAUU/szRuM7rSFb/9M
         xeqm//9QnkCryR2ZF1yW4u4KAdm062w3s0kADNo0LmzfS4e+f3A5NsPkZQ+zLf1sNixcpypLFzSm
         6StuSu2gbMosu81sEACRtNgYVo/ZSsiKCBLSsyuqvGvn6JGfITPbMa5zMVwdFK+YKTVhewAYDDw6
         d5HBH+xh06lEs5U9NKmSHBxo3LMhoVMCKFtA8QmYVLaiKJq78o0pnzfX9zLotBxbd4Beo49y/r65
         qn7m+jH/dQMVhV8rx/S5Telay13xCZhQvDY3AqTHRrN04m7Gf3ODaK102BecCtBnSjMmDy5HQTsT
         WoCN38rGABCJvHCdMcFhfLsvgQzr3f18ilmqqNKlPou+rEvNoso0yFTc2hYAGVr+3H6I/gMPceJh
         htU6v56lXLVfKeYubc4HjbxQCsiZBgGbAkAXF8e6KZsZPDeCOAlNf/5StaCh5dgWzBpWiVIeyihg
         CgRsBwBRT/TVG4zpsomVp7ToJDX9+b+qfepUY/HCQJq9kk+pHWQCAmwGAKPz6+y2vXTsdZyriQar
         d349S7cuBb0YOac1Ie2LKrWDFACyKwGR1JhoVo/ezNCV90mxstD/7L6FsZ3K3oHArvWZPfN1KhVQ
         agflRHZPa2sbI4DBwMOzFwl+7we2nk8iQzq7n0/RmUCRGqWZEtqaD2q65lb/Nv97mwDA6Pw6unYf
         3Uce40qkFZR9yKXZ2Xl60WdiM6YFl8Ytl/ey9Z/bBADpsVEsGrebT5bcJDZd0p//LHsV7Knzfl3m
         fFWfGgWV2KDcQGwDAIg8OneVkQN2sPb3RIlPf/6vakf/Enw2pzn9gwrhrDDw0gzIHwC9luObD9J/
         4EH+jJTu7s9/NGznRPuPmvJlSBVKKnkCCgDPkoAuLoY1k7cweM5dEqW9+v3PK5ZoEsCi2Q1oXMFF
         CZB7SQTkPQKIeiIvX+ejLt+z/LT0Qh9epFNnbw8GTWvNuK5+uDq8qLXyd5vbBjWkpXJq6146fHic
         G2kyWPz+S4OCgwNvdGvA8umvU0opofhShMt4BBBJiYpi9ZhNDFz28K/Fr5OTGnt7gcREHdLPhFDh
         H1COaUtb0aGy00sZgK3/SL4AGPTcP32RQV12sflyalbog2BH2QA/ahYxsGvHLaJ10h8VHIoUpNeE
         IGb29MNByZnPMc+yBUCfruXImt94P+QEN2OznF92rq4EDWpM37LRjBp7lPP3JBwT8UTVagdqtA1g
         7qxAavsqmTI5JUC2AGhjIln40S7GLwsnMTPzUcC9qA/jVnWga6GHjHx3NxtOWldB3Jwq70l717L+
         TJwVxKAWnihr4ZxJUaYAiDw8dZHhA3az7nBSZs1/4zm8Zd4MYN2qhlTQJPPz9N30+OoKkSnSnwah
         caPT6Df5clRlirsoXrGcICBPAPRaDn93gAHDD3Eq0mjgAs4eBeg5oy1T3iuCq5DBvRMn+bDTL/x2
         O10G3mEVxepVYd6cQFpWUwrp2jwAuuhIln26nZHzIkg02r9KRcEqFVjxXXOal3dFhUhK5CPmDdzA
         pG2xJMsgPsjZw4uQ2a0Y3bk4LkqyWLYZkN8IIBp3fy7xUY9trDyZtci1c7Cn9ocNWfl5TUp6ZC0U
         RW0q+5b/QK/R57mRoJdsgswTTds5amjQtzHfTqpOkXzKYji7BMgOAENqMkc27OODfse59vjII00B
         TwZ+0YIJPUqS78lpK6KeOyfOM7zvj2w5nYxeoimSfylaZYdfQEVmLW9KmwpKnoCNAiCSfP8hy8dv
         ZejShzyJ/C/0amlmLGxN5wC3f5y3lR4TxYLxu/l08U1iZeATcPT2pMu4t5g/qCSO2bUAG28nrxHA
         oOfWiXOEGMseXkrNUq3KgTrta/PNogZUchf+UWPfeETSkVX76TvmKOceST9RBnsN1Vu9ztJlgVTL
         r+wGZYdtWQGg16axf+Wv9Bj9J+FxWQZt71GA9ye3ZU7forj8+7hFg4HIMxfo0/NHwv5M/GvEyI7g
         rLONgFe5Eoyb25r+TdwVn0A2lCQrAFKjH7Fg9C4mfnuLxMz1r4rC5f2Zub0zHUurUf3noyiijY9m
         SfBWxq2/S5wMHMMqtTOtBgQyc+pr+CvhQS9EQEYAiNz/4yxDB/zMpmNZX3PB0Znq79Rn+4rX8X3G
         YbsGnY4ru/fRre8x/nygk8EoACUCqxI6rzktKjoqxyq9AAH5AGBIY//yvQz++DinHxlAEMhfzJfh
         C1ozroX3U77+jyUjGkh5dI8p3TYx+7c4kmUwCjgX9uHjOUGEtC+CoxIg91wEZANARtQD5o3dycQl
         EcQb7V+tpkyT6qxZ2ojXfJ5/xKI+LZWf526j5+Rr3EuUvk9A7aihWf83WfBpdYq5KQQ8jwB5ACDq
         uXv0HCMH7uK7P7OOfLF3dqHNyCbMH1UFrxdljYsZ3Dx4kn7df+WXG2nopR4epFLhW7Uc89YE0baC
         ywvnwbbcQBYAiGmJ/LZyP/2Hn+BKSpY63fyK8snstxjU2gfNC3cERRIi7vHFkG3M3h5Fqgxyh128
         Pek2tQ1zPiyKEhnxbMRlAUBSxD0WjtvOmJVPnF8C5ZtWY15oMxqVzt75uvqUJLbP/Znhn58lPEHq
         bmEQNE5UbVuHzSvfwF+JkX4mAdIHQNRz49BZRvbew+aLWbEPgqMrrYMbMe+zVymazRPWRYPI/WOn
         6dn/J/acSpF8bJBxC9ijdHEmrGzHwNr/9IDb8pTn3+8ueQCMC9hfl/1Mn49PEx6f5fxy8y/KqDlt
         GN3Sk+yXjxVJj3nAtN47mL71HonSHwTA0ZWg/k1YPLUyPsrpkk/lXvIApEY/ZG7IDj5bG5Hl/FLZ
         U75hVRZ99xb1vF84+f+HUAy6dE4s3kGn8ecIj5H6SjhzLKRc4yrMX9SSwJJqxSfwFAQkDoBI+P4T
         DB20jx1nkjOdWBpPd9qOaMGiMWVzXjjWYCD1ylnatvmJX64kyyBRBhz9fBj3VRAhbYvgqERJ/wcB
         aQOQkciGT3czeuZFwpONHzwVRV8pzfQ1relc+WW2/0QytAl8F7KFEcvv8ChF+vMgOwcNjfsEsmjy
         a/i5KwTIag2QfvMaIwfvZv6OmMwDrwUHe2p0rc+Gr2vh/7IHShv0XPv1EN0/PMjhCG1mPrGkL5WK
         IjUrsfzbZjQu5fJsj7ikX/LlH166I4CYwfmthxg0ZC+/3cmarzvmy0+fqa2Y3LMU+V56608k/k4E
         E3pvZuHPcWglHyUt4FbQi4Gh7ZjYrjAaZRD4By2SBcCQEM3qaT8x/IvLRD9er3pULsfM+U3p+oZH
         rpw/GUmJrJ26k1FfX+VhquTHAOw0xjyBN1ixrA7l3VRKId2/ISBRAESiL15n0pDtzPkp8fHrqKjT
         rR5zp9WjeuHcfeZEg45zYUfpO/QAh8OzQiukfQl4lPBl4tp36VfTCXslPOgvdUoTAIOOk9uPMLD3
         7xyOyjJQwdWLvpOa8fnQ0hTI2e7nU20748EdRvXeyfydD5HikcL/Wey5udFyRBArRpfBQ6MQ8EQ+
         kgQgIymJ9VPDGDzzGjGZOzUC3q+V5YvQ1nz4urNJ9rtFfSq/fLGD3tMvEp4gB5+AmvINqzBn8Zs0
         KuX0j9xoaY9uuXt6SQKQcPcmn7y/i2/2RZFmtH87J97oXIdFi9+ggqmyoESR5BPHaPHuPg5eTZX+
         bhDgUrQwo4w+gfZFcFGbYJjMne1Zxa8lCIDI9R37eXfYEY5dS0NEwKlYYXpPbs7XHxQnd7P/f+pE
         zIjki7e/Z/qPkcRl1heV9qXWONFycCPmjKtOsXzKNChz6iyKEquSb0hi7ejtfLTwKreTjF9/NRUa
         VWXuwsY0Lmmqz/8TQzdwZMFW3pt4kRuPMiQfICfY2VEysCpL5jeifhnlWCVJApARfpn+vfbw7S+x
         GJe/amcnWg1rSuiYyvi4mvL7nwVBzJWrhPTcwdrDCaRL3icALoU96DO9PZM7+eDypEiYtAe2XD29
         xEYAPec27KXviIMceuz8cvPx4eN5QQx5uwhOprd/jD6B5RO3Mjo0nNjMBYe0L0GjoUz7+uxZ8Dp+
         +ZQAOUkBICZGs/iTPYydc5Wox7ZYsslrhM5sQNNKxqK3Zrj0Oo6uP0DwiCOcuC+DjHlUePqXYOaW
         9nSs7Iyt74hKCoDo81f4eMhOFv+SkDUfVznSbnRTvhxdlVL5zWL+xjK6RJ+5xLBBP7B6/+N+zcCZ
         JW+pdnWhVUgQ80aVxcfZziTbxpZ8flP2JR0ADDpObDpE8ICDHI3K+hI7FC/OhFnNGdrGx6ynpRsS
         o1k6bjfjv7nOQ60pxZ9H9xLsKG88T2BZUxqWdLRpn4BkADA6v1ZN2UbI7BvEZsbn2FH+rRrMntOY
         JqUczPsVEw1E/HSIdwcf4MDldMnvBhmxy+/vy9hZrQgOKoTTM4qG5RGeFu1WMgDE373J2C5hLD0Y
         m+n8Elzz886wRsweXwWf7Oc9vrRwxYTbfNxxJ/N/fIQcHMNqZ1feCWnMV6OqUMTVXNPHlxa3xX4o
         GQCuh/1Kx0HHOHlLm+n88qzgx9iv32Jw84ImdX49W/J69kzdxMCvLnM9Wga7QSo7Ctd9hZVG/0lF
         N/NsIFjMjF++I2kAICazeshGRi+7xb1kEdT21HynDt/MrkNV75cO/M+x1O4ePkaPHvv55VJW+qW0
         LwEnDy+Gf9OGMW18cbXR4kGSAEC8c4n3O+3h+yNxGI/zcsjnwodT2jK1V0ncHS0X05IWE8m8ETuY
         tOYOiTI4V0zlqKFKzyaEfVaNojaaLikBAAxcWPsT7406xsm7WVOPAn6lmbm6BV3qemDJah+iTsvv
         q/cxYORxzkXLIDhIUJHPrzgz17Wl62v5bDJp3voBSI4mdPhOJiy9SfTjeUeV9xqz9PMAahTLXtU3
         001VDEQcv8CYwT+w5ogxC1/6l9rFmTbj2jBvUEkKuZjBlW7lIrJ6AGLPXWbwgB2sOZD0ePsxHwPn
         t2Zcj1IUzmbVN1PqQBf1gNCxu5mw6DYJprxxXt1LpaZC4xosWRpIraIam0uat24ARB3H1v3OgMGH
         +CMqa8rhULkiSxY2oWsddwvt/vzLMg1pHFm5n+AxR/nDeA6B5C8Bj5K+TAxtQ+8mnjjamE/AqgEw
         Or+Wf7qFUfPCicsMRLOnbs8GzJtam2peebV3LaK9dY2RfX9k8Z4oHp/EKmkM1I7OmbVUZ4yvRgkb
         O2PYigEQiY8IZ0yHrSw7lkC60f49CzLk8+ZM7l0SN8tt/vzXuA0pbJoYxqjZl7ghg3mQoFJRrFE1
         VsxrTGA5Z0nDnNOHt14ARJFrO3+hXe8TnHugRRQEitYqx/TZQXQOyPuDoMN/Oki3wQf5/VKqDEIj
         BDQFfZiwJIjBLX1xyavBNafWa4L2VguAQZ/C2kFrGb7yHpEpYmbmV/n65enzflmKW8EwnfzoHt/O
         PM2+q0mZVemkfqmMZwx3b8iaL2pQxtPevLFVViQs6wRAFNFHXKZry11sO5v4V1kStYMaJ0c7q9ip
         EEUD2pQM0jNEGYwAWXVVXf1LsWhTK9pVcbOZPAGrBEA0ZHBp7R7ajjjJ5YfSDzqwog/ecx/FuBju
         NrMjX3YrhqezbcyDrBIAfVIUocFhTFxzm1g5zC+kQoCdHRVb1WLZ7HoEFLMNn4D1ASCKxJy9SJ8+
         P7D5aGLW9KJoYTq38MPfywJxzzk0Vm1kND//eI0zt+WQLgmuxb0ZF9qeoc0LorGB2kFWB4CoT+fI
         mgP0H3GY05GZ571T7t1A1k6rTfUi1heymH7/NtNG7ObLdQ9IkoFfTHB0pv2wpswe9wq+zvIPjbA6
         AHTxcSyeuJ2x88OJM0Zc2jvT5dMgpg+pSBFr3KLWp/DD3J8Z9tlpLskhT8CYLtmkGvPmNaZhGSfZ
         5wlYGQAi0TduMua9raw8mojOAE7+xZgyN4gBbxXKxnm/OZy/mKS5yO3f/yA4eC87TyfLooSiQ8FC
         fBTakpB2RXGT+SBgXQAYMriwYy9deh3nXGQ6BlSUb/Iq8+e/SWBpR5OYqzlukvLwHjOG7mLaxrsk
         y2DRLtjZ80ZwM1ZMqEbJAvImwIoAEMlIS2JtyDqGrbhPTKbzy4E3ezRk/lcBlMlnffP/JzDp01LY
         s/An+k44S0SCDLZtBQG3KpVYs6YZzSq6WjTnwhwfqOfd03oAEA2k3L5Mj7d2sfViUqbzy97djX7T
         2zOlW3HcLJn5klMtGDK4euAUQ3v+wq7rcgiPA5WDGx+GtmPqu8XxcpKvT8BqADDodFxct4dWIae4
         mbn7A14lSxK6sQ1tq7pZ+akmIgm37zJ/zHbGfxcpi9AIjLFXgbXYuKI+AcUcZbsYthIARNLjo1gQ
         vJ1P10cQa9xSFwTKdXqTzbNfo4K3mev+5PSL/5T2Bm0yh9b9TvDAI5yWR7IY+Xx8+GxVe/o09JTt
         4XrWAYAoEnX6PD16/8jOE4mZOymCSkPHGR2Z06sE3pKoWyMSffYq44K3sHC/PKZBgrMT74xqweyQ
         imapvG2C706ub2EVABgytBxatZ8Bo49y9rHzy96nOAs3taFLTXckMwVNimbZpN2MmHGdWBk4xUBF
         6cAqzJvfhKblTXP0VK4t1sQ3sAoA0mNjWPjJDiZ8E06cTkRQ2VHmnfqsn1WLKj4OEpp/ZvDHht8Z
         OPwARx9XsDCxvix+O00RXybMNZaf90WO8XFWAIDIo0s3GNNzC6uPJGc6v1R2rnSb0Ypp/crinQeJ
         77mxsrhLlxnabw+r98XKoHhWVgXulqObMWdMVfzz5WUaXm608uzf5j0AGemcCttP957HOBury5z/
         23sX4YvlQQx8ywfrdX89XajapFhWfbSTkd9cJ04e8XF4VqvC4uVvElTVTXY+gTwHID0xgbVj1jF0
         +QPiU0UEQYX/m9VYMu9NAsua+swv83xF/n5X43bun5v20Tn4KNflUDwr8+Wc6TW/PZM/8Kews7xG
         gbwFQNQTH36F/k13sPl6SqbzS1A7EdQvkLlTq1NCioWaRAMPLl7l4w7bWX4hxfzEWagH//b1WfdV
         LV4rIa8AuTwFwKDVcnHDjzQbcpq7sVnOLwcPd/pOacnkHv7kd5CmB1IbHcvGLzbSbcY9WQTHGfXi
         WtCbcYvbMiioEM4yyhPIQwBEUqIjWRS8lQmb7pOQOV8W8C7nz4yVrekUkN/Kvb/P+fTqUjm7+whd
         Ou7nvBxOlMk8i9yR1kObMmtMFasoSmCqgS/PABD1em7s/4PeA/ay71LWSeyCWk3ldxqwevbrVPKW
         0vbnv9UhEnMlnEm9vmP2AZmshAWBEm9U5KvZLWj/qoup7C/P75NnAOhTk9gx92eGTjlLeEKW10jt
         pKHrjHf5+oMikk/KFhNjWT99F30/uyaLE2Uyx2fvggya1IzJPUqRz/qyU18KpjwDIOHOXaaF7GDW
         5oek6I2ZvwJOnj5M39aBD2u5I/1sPB1nth+jf79fOXRfFm7hzHPZqnSow/yv6lGnuDxqB+UNAGI6
         5386Rv/uv3PwgRaD0f7VdhRqXoc9i+pS2UcjIe/vsz888VeuM2LgDpb9HCebxbCDfwmmzW9B76be
         sqgglycA6BMT2DxtC71n3Cb+8enrakdH2n3aljkDy1DIRR57zbqUONaM3UVI6FViZLIUMEbpNh4W
         xNzR1ajgLf1sMcsDYNATeeEKIR9sZ/2ptKyit4KAplBhPlnYkiHG2pTSl2vmsGB0ip3d9jsdBx7i
         yiMZ5Eo+Huy8Xi3P7LlN6FDbQ7o7dY/fxeIAZKQkc3jZHjp/dJ77SYbHJ74L5K9RnpULm9Gqen5Z
         TH8y5SsaiLp2ndHttrPiXJJspkGa/G50n9SSL/qUpoCjNH01TyaulgVANBB36ybjuuxk8dHYzAPv
         jJfKzo6AjrVZ+FV9qvnKZHvhsYS1cfFs/ex7us26S7oM0oUzX8venoD2NQn9qh4BRSx3SudLbfO8
         4EcWBcCg03Jy0yG6hxzh3L30vx7Nzt6JVsGNmDnpVUq4ymT+8/jtRG0qF8L20+L9o0SkyaSQrvGk
         +bLFGDW9JaNbeSPlQ2UsCkCa0fM7bjefLg0nRvf482/8oBT0IPjzVkz6wA9Xe3ksgP+iW9Tz8Pxl
         hnXYwobLGWTu+MrgEjTONOlVjzlTalIuv3R1ZkEADNw8fI7hfXYSdj79H4ZQoJQvkxa0p28jD+zl
         NQBkmnp6VBSLxqxn+IpodHIhAIFCtYye4eZ0ed01b85rM8GHxGIAZKQksit0N4MnXOZ26uPFb+YL
         CBSrXIqZq9rydmVn1NJeUz1dJcmJbJ+7kx6fXCH6byOfCfSXp7dQ5Xen54TmTOxTFl+Jbl1bBgDR
         QMyNcCZ+uJGFB1Mzs77+f6koVb0i89cH0biUo6Tnk8+0RoOOk2GH6d9vH8ce/B3+PLXf3HcuCJRq
         XZMlX9anQVknSZ4qYxEADKkp/LnuZ94afIrIpH9NggU1lRrWZMX6+lQvKOUAuOfZk8jtYxcY2ncb
         207rsjzfMrmcvb0ZMr0FH3X2s+7iZc+Qt/kBEEXib0cwc8hWPg+L+dfX37gCduDVTg1ZN/c1yrjL
         I77kabKOv3KTEYO2sezneAxyCQ0yTmCN+msTwIIZ9Xi9mMQSuI3PL4qiWb9HhnQdJzbtp8/wI5x5
         kPHf87TsHajeNZB1s2pQWsYApN6+w5ghYYRuj0QvIwCMazhnPx/6ftac6e8Wk9wU1uwAJN29x4wR
         O/hq432SnhYNoHbg1Q4N+G5+AGVlDIA28gEzhu/k87V3SZbTHMg43KkdqNqiOrPmBlLPz0FSO0Jm
         BUBMS+XQ94cIHnuY03f0zzhN0Y5ydaqzZENj6hSRRxTo06ZA2qiHzArZyZTVESTKDQDjTLZAAToM
         a8hngyrh7y6dvWzzAZChJfzwWYb120vYpeTnDvtFK5fk62/b07aKTLdBgbS7EUwYujMz/yFdhgAY
         Axq9y/jx0fSm9A3ywUkiDJgFAOMxpxGXrzD1o19Yui2GF6XFany8CJnemrEdi+IsN0/w4+Eg+sI1
         QgZuY9W+JFntAv1jQ9vegcpBNZg1oy4NS0ojbdL0AOh03Dx3k0VfH2DJlrtEJb94ja2yd6TOe3WY
         //nrVC4svZ2EF+5oGnSc232cgcG/cuCWHvNuO7zwaczYQEBdwI2QXR2fAAAEuklEQVS6XWsy5+MA
         Kvta/66eSQHQpWo58+M5vp52hB/ORBObnM3gL0HAsbAn741uwhc9S+MliWrQ2bej1Kholn28jrEr
         oomXkSf4qRIw6rKAK02712XyiOpU8bHu6N7cAyCK6NK0PLzxkJ2bzrBg1VUuXUt84bTnP8IzHsvj
         U4BOvQLo90FFyhdzxdleJUnvYta7iWSk64i89YgflhxhwpILRMRk84OQfbastqXG3ZUazaoyaWwN
         Akrnw9XJzirzPF4egHQ90fejOXvxAWeO3CZsTzinLiUQE58LT6cALvldqFCtGM3fLkndWsWoXrEA
         Bd00xjWWJC6DNoOoO7FcufaAU+cesG/bdQ6dieZegnwywrKrCGOaq39ZH5q3L0fzxiWoWckLj/x2
         VqXLbAOg1WaQ+CCRm7cecOpEJOevJPAgIpLTl6OIuK8lNdWA3kS7Gyo7FRqNHUXKFeLVyp4ULJEP
         v3IevFa1MP5+BfBx1VhN0dy0NB33IuK5cfYhJy5Ecjs8gcjbsVy68pCbj3Ska/UyigDNrun/v52x
         1qvGWUPx0gWp/kohypYqSGCgH+XLe+LtbYcqj4MfswXA8OF7OHnyAbqUdOLik4l8mEJUbr70OZWj
         kx1uBZzw8XYhf35HXB3VuPo4U9jTCU93Jwq4uOBb0hVPB1Xm3zUaNYKzA/ndnSnk6YRrDkssGjIy
         iI9JJTldzFqwajNISkgjMcNA3MNYIsKjOXM9mevX40lKSs/8Fx+ZzIOoFBLlcE5qTvWT7fYCTk6O
         FCuWD09PJ5ydVXh6avD0dKRQoXy4+7hTvIgjvl5uuLm5UaioM+5uarN6l7MFQIMGK9i//1a2X9Ps
         DQXjKYZ2aBzssFerUNvZ4ehkh71KQK1WIQgCgp0KzyKFGTSjGZ2ruqLK9hRKJO5uBF+P/IXtZ1Oy
         YpcMInq9ITOHwTivT0vVkZSqJyUlA4OJRj2zy8xKO7C3V2H85+CgRq1R46hR4Wj8v9qFt0cFMqKr
         P15m3BiUJgDZUqaAR1FfPl3fkQG18+UIgOibNxnVdTOrjyVnVa1QLotLQBCcePfLt5keXI7CZjwk
         IlsAtGu3nqNH71pcCLnrUMDdpzAjFrbigxo5GwFibt9mysDdbDr1eATI3YMov34JCQiCI23HNmN8
         j1JmPSUoWwBcvhxNUtKL/Lkv8ZZm/YmA2sEeX/8CFMxhon1GupaIG3HEpMjZaWVW4efy5sb5qgqP
         ovkpWtDRrLWHsgVALt9G+bkiAauVgAKA1apGeTBLSEABwBJSVvqwWgkoAFitapQHs4QEFAAsIWWl
         D6uVgAKA1apGeTBLSEABwBJSVvqwWgkoAFitapQHs4QEFAAsIWWlD6uVgAKA1apGeTBLSEABwBJS
         VvqwWgkoAFitapQHs4QEFAAsIWWlD6uVgAKA1apGeTBLSEABwBJSVvqwWgkoAFitapQHs4QEFAAs
         IWWlD6uVgAKA1apGeTBLSEABwBJSVvqwWgkoAFitapQHs4QEFAAsIWWlD6uVgAKA1apGeTBLSEAB
         wBJSVvqwWgkoAFitapQHs4QEFAAsIWWlD6uVgAKA1apGeTBLSEABwBJSVvqwWgkoAFitapQHs4QE
         /gdmAsCTn/FjVwAAAABJRU5ErkJggg==" rel="icon" type="image/x-icon" />
      <!-- CSS only -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
      <link
         rel="stylesheet"
         href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css"
         crossorigin="anonymous"
         />
      <!-- JavaScript Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
      <title>{% block title %}Home{% endblock %}</title>
      <link rel="stylesheet" href="static/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/css/boxicons.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
      <link rel="stylesheet" href="static/css/style.css">
      <!-- NAVBAR -->
      <nav class="navbar navbar-expand-lg py-2 sticky-top navbar-light bg-white">
         <div class="container">
            <a class="navbar-brand" href="/#home">
            <img class="logo" src="static/img/logo White BG.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
               aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
               <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="/#home">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/#features">Features</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/#tools">Tools</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/#media">Media</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/blog">Blog</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/#contact">Contact</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <!-- //NAVBAR -->
   </head>
   <body>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %} {% if category ==
      'error' %}
      <div class="alert alert-danger alter-dismissable fade show" role="alert">
         {{ message }}
         <button type="button" class="close" data-dismiss="alert">
         <span aria-hidden="true">&times;</span>
         </button>
      </div>
      {% else %}
      <div class="alert alert-success alter-dismissable fade show" role="alert">
         {{ message }}
         <button type="button" class="close" data-dismiss="alert">
         <span aria-hidden="true">&times;</span>
         </button>
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %}
      {% block content %}{% endblock %}
      <script
         src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
         integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
         crossorigin="anonymous"
         ></script>
      <script
         src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
         integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
         crossorigin="anonymous"
         ></script>
      <script
         src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
         integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
         crossorigin="anonymous"
         ></script>
      <script
         type="text/javascript"
         src="{{ url_for('static', filename='index.js') }}"
         ></script>
   </body>
   <footer>
      <div class="footer-top">
         <div class="container">
            <div class="row gy-4">
               <div class="col-lg-4">
                  <a class="navbar-brand" href="/#home">
                  <img class="logo" src="static/img/axoras-dark.png" alt="">
                  </a>
               </div>
               <div class="col-lg-2">
                  <h5 class="text-white">Tools</h5>
                  <ul class="list-unstyled">
                     <li><a href="/callisto">Callisto</a></li>
                     <li><a href="/ganymede">Ganymede</a></li>
                     <li><a href="/io">Io</a></li>
                     <li><a href="#">Europa</a></li>
                  </ul>
               </div>
               <div class="col-lg-2">
                  <h5 class="text-white">More</h5>
                  <ul class="list-unstyled">
                     <li><a href="/#features">Features</a></li>
                     <li><a href="/#media">Media</a></li>
                     <li><a href="/blog">Blog</a></li>
                     <li><a href="/#contact">Contact</a></li>
                  </ul>
               </div>
               <div class="col-lg-3">
                  <div class="row">
                     <div class="social-icons2">
                        <a href="#" class ="text-white"><i class='bx bx-envelope'></i></a>
                        <a href="#" class ="text-white"><i class='bx bxl-instagram-alt'></i></a>
                        <a href="#" class ="text-white"><i class='bx bxl-youtube'></i></a>
                     </div>
                  </div>
                  <div class="row">
                     <ul class="list-unstyled">
                        <li><a href="#">cristiangp130@gmail.com</a></li>
                        <li><a href="#">/cristiang.p.</a></li>
                        <li><a href="#">www.youtube.com/cristiang.p.</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="footer-bottom py-3">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <p class="mb-0">© 2022 copyright all rights reserved |</p>
                  <p class="mb-0"> Designed with <i
                     class="bx bx-heart text-danger">
                     </i> by <a
                        class="text-white">CRISTIAN G. P.
                     </a>
                  </p>
                  <p class="mb-0"> Based on
                     <a  href="https://www.youtube.com/channel/UCYMEEnLzGGGIpQQ3Nu_sBsQ"
                        class="text-white">SA7MAN</a>
                  </p>
               </div>
            </div>
         </div>
      </div>
   </footer>
</html>