{% extends "base.html" %} {% block title %}AXORAS{% endblock %} {% block
content %}
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Title</title>
   </head>
   <body>
      <!-- Blog -->
      <section id="media" class="bg-light">
         <div class="container">
            <div class="row mb-5">
               <div class="col-md-8 mx-auto text-center">
                  <br/>
                  <h6 class="text-primary">BLOG</h6>
                  <h1>News from the blog</h1>
                  <p>News from the Blog</p>
               </div>
            </div>

            <div class="row g-4">
               <div class="col-sm-3">
                  <div class="blog-post card-effect">
                     <img src="static/img/blog.png" alt="">
                      <h5 class="mt-4"><a href="#">Coming Soon</a></h5>
                      <p>Would you like to collaborate?</p>
                  </div>
               </div>
               <div class="col-sm-3">
                  <div class="blog-post card-effect">
                     <img src="static/img/blog.png" alt="">
                      <h5 class="mt-4"><a href="#">Coming Soon</a></h5>
                      <p>Would you like to collaborate?</p>
                  </div>
               </div>
               <div class="col-sm-3">
                  <div class="blog-post card-effect">
                     <img src="static/img/blog.png" alt="">
                     <h5 class="mt-4"><a href="#">Coming Soon</a></h5>
                     <p>Would you like to collaborate?</p>
                 </div>
               </div>
               <div class="col-sm-3">
                  <div class="blog-post card-effect">
                     <img src="static/img/blog.png" alt="">
                     <h5 class="mt-4"><a href="#">Coming Soon</a></h5>
                     <p>Would you like to collaborate?</p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Blog -->
      <br/>
   </body>
</html>
{% endblock %}