{% extends "base.html" %} {% block title %}AXORAS{% endblock %} {% block
content %}
<html lang="en" xmlns:float="http://www.w3.org/1999/xhtml">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>WriterTools</title>
   </head>
   <body  data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="70">
      <br />
      <section class="vh-100 tool">
         <div  id="datos1" class="text-white row justify-content-center"></div>
         <div id="loader" class="row justify-content-center">
            <div class="spinner-border" role="status">
               <span class="sr-only">Loading...</span>
            </div>
         </div>
         <form method="post" enctype = "multipart/form-data"  class="needs-validation" novalidate name="Callisto" id="Callisto">
            <div class="container">
               <div class="p-1 mb-2  text-white">
                  <h7  class="display-h7 text-white">Callisto Text Formatter</h7>
               </div>
               <div class="row">
                  <div class="col">
                     <label class ="labelField"  for="bookTitle">Book Title</label>
                     <input
                        type="text"
                        class="form-control"
                        id="bookTitle"
                        name="bookTitle"
                        placeholder="Enter book title"
                        required>
                     <div class="invalid-feedback">
                        Please complete this field
                     </div>
                  </div>
                  <div class="col">
                     <label class ="labelField"  for="bookSubTitle">Book Subtitle</label>
                     <input
                        type="text"
                        class="form-control"
                        id="bookSubTitle"
                        name="bookSubTitle"
                        placeholder="Enter book subtitle"
                        />
                  </div>
               </div>
               <br />
               <div class="row">
                  <div class="col">
                     <label class ="labelField" for="authorName">Author</label>
                     <input
                        type="text"
                        class="form-control"
                        id="authorName"
                        name="author"
                        placeholder="Enter author"
                        required>
                     <div class="invalid-feedback">
                        Please complete this field
                     </div>
                  </div>
                  <div class="col">
                     <label class ="labelField" for="file" >Document</label>
                     <input class="form-control" type="file" id="file" name="file"required>
                     <div class="invalid-feedback">
                        Please upload your document
                     </div>
                  </div>
               </div>
               <br />
               <div id="datos"></div>
               <fieldset>
                  <div class="form-check form-check-inline">
                     <input class="form-check-input" type="radio" id="toPublish" name="drone" value="toPublish"
                        checked>
                     <label class ="labelField" for="toPublish">To Publish</label>
                  </div>
                  <div class="form-check form-check-inline">
                     <input class="form-check-input" type="radio" id="toEdit" name="drone" value="toEdit">
                     <label class ="labelField" for="toEdit">To Edit</label>
                  </div>
                  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModalPublish" id="PersonalizePublish" name="PersonalizePublish">Personalize Publish Format</button>
               </fieldset>
               <input class="btn btn-primary" type="submit" value="Format">
               <!-- Trigger the modal with a button -->
               <!-- Modal1##################################################################### -->
               <div id="myModalPublish" class="modal fade" role="dialog">
                  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                     <!-- Modal content-->
                     <div class="modal-content">
                        <div class="modal-header">
                           <h5 class="modal-title">Format Details</h5>
                           <button type="button" class="btn-close" data-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                           <div class="text-center">
                              <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal2">View Book Structure</button>
                           </div>
                           <div class="container">
                              <div class="row">
                                 <div class="col-sm-6">
                                    <label for="Half Title Page">Add Half Title Page?</label>
                                 </div>
                                 <div class="col-sm-6">
                                    <select class="btnModal dropdown-toggle" id='Half Title Page' name="Half Title Page" onChange="combo(this, 'box)">
                                       <option selected>Yes</option>
                                       <option>No</option>
                                    </select>
                                 </div>
                              </div>
                              <br/>
                              <div class="row">
                                 <div class="col-sm-6">
                                    <label for="Title Page">Add Title Page?</label>
                                 </div>
                                 <div class="col-sm-6">
                                    <select class="btnModal dropdown-toggle" id='Title Page' name="Title Page" onChange="combo(this, 'box)">
                                       <option selected>Yes</option>
                                       <option>No</option>
                                    </select>
                                 </div>
                              </div>
                              <br/>
                              <div class="row">
                                 <div class="col-sm-6">
                                    <label for="Copyright page">Add Copyright Page?</label>
                                 </div>
                                 <div class="col-sm-6">
                                    <select class="btnModal dropdown-toggle" id='Copyright Page' name="Copyright Page" onChange="combo(this, 'box)">
                                       <option selected>Yes</option>
                                       <option>No</option>
                                    </select>
                                 </div>
                              </div>
                              <br/>
                              <div class="row">
                                 <div class="col-sm-6">
                                    <label for="Chapter Description">Has Chapter Description?</label>
                                 </div>
                                 <div class="col-sm-6">
                                    <select class="btnModal dropdown-toggle" id= 'Chapter Description' name="Chapter Description" onChange="combo(this, 'box)">
                                       <option>Yes</option>
                                       <option selected>No</option>
                                    </select>
                                 </div>
                              </div>
                              <br/>
                              <div class="row">
                                 <div class="col-sm-6">
                                    <label for="Page Size">Page Size</label>
                                 </div>
                                 <div class="col-sm-6">
                                    <select class="btnModal dropdown-toggle" id='Page Size' name="Page Size" onChange="combo(this, 'box)">
                                       <option selected>5" x 8" (12.7 x 20.32 cm)</option>
                                       <option>5.25" x 8" (13.34 x 20.32 cm)</option>
                                       <option>5.5" x 8.5" (13.97 x 21.59 cm)</option>
                                       <option>6" x 9" (15.24 x 22.86 cm)</option>
                                       <option>7" x 10" x (17.78 x 25.4 cm)</option>
                                       <option>8" x 10" (20.32 x 25.4 cm)</option>
                                    </select>
                                 </div>
                              </div>
                              <div><br /></div>
                              <div><br /></div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Modal BOOK STRUCTURE################################################################## -->
               <div id="myModal2" class="modal fade" role="dialog">
                  <div class="modal-dialog modal-xl ">
                     <!-- Modal content-->
                     <div class="modal-content">
                        <div class="modal-header">
                           <h5 class="modal-title">Book Structure</h5>
                           <button type="button" class="btn-close" data-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                           <div class="row">
                              <div class="col-lg-14">
                                 <img src="static/img/Title Page.png" >
                              </div>
                           </div>
                           <div>
                              <br/>
                              <br/>
                           </div>
                           <div class="row">
                              <div class="col-lg-14">
                                 <img src="static/img/Dedications.png" class="img-fluid">
                              </div>
                           </div>
                           <div>
                              <br/>
                              <br/>
                           </div>
                           <div class="row">
                              <div class="col-lg-14">
                                 <img src="static/img/ChapterDescription.png" class="img-fluid">
                              </div>
                           </div>
                           <div>
                              <br/>
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <br />
         </form>
      </section>
   </body>
</html>
<script>
   var loader = document.getElementById("loader");
   loader.style.visibility="hidden";


   var datos = document.getElementById('datos');
       var rad = document.Callisto.drone;
       var prev = null;

       for (var i = 0; i < rad.length; i++) {
       rad[i].addEventListener('change', function() {
           (prev) ? console.log(prev.value): null;
           if (this !== prev) {
               prev = this;
               datos.innerHTML="";
           }

       if(document.getElementById('toPublish').checked) {

           document.querySelector('#PersonalizePublish').disabled = false;


       }else if(document.getElementById('toEdit').checked) {

        document.querySelector('#PersonalizePublish').disabled = true;

       }
    });
   }


      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }else{
               var loader = document.getElementById("loader");
               loader.style.visibility="visible";
              var datos2 = document.getElementById("datos1");
               datos2.innerHTML="Formatting... It might take up to two minutes ";
               var myForm = document.getElementById("Callisto");
               myForm.style.visibility="hidden";
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
</script>
{% endblock %}