{% extends "base.html" %} {% block title %}Download{% endblock %} {% block
content %}
<head xmlns:float="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8"/>
</head>

<script>
    var datos = document.getElementById("datos");
    datos.innerHTML="
                <h1> CRISTIAN GONZALO</h1>
        ";


    var datos = document.getElementById("datos").innerHTML;//Leer valor
    document.getElementById("datos").innerHTML = "El texto inicial es: " + datos;//Asignar valor


</script>
<br/>
<h3 align="center">Contact me</h3>
<br/>
<h6 align="center">Do you have any questions or comments? Any bugs you found? Any improvements or new features to the
    applications?
    <h6 align="center">Please do not hesitate to contact me directly.</h6><h6 align="center">Thanks for using
        WriterApps!</h6>
    <div id="datos"></div>

    <br/>
    <br/>
    <br/>

    <div class="container">
        <div class="row justify-content-md-center">


            <div class="col col-lg-2">
                <img class="img-fluid" height="100" src="static/instagram.jpg" width="50">
            </div>

            <div class="col col-lg-3 ">
                <img class="img-fluid" height="150" src="static/Youtube.png" width="100">
            </div>

            <div class="col col-lg-2 ">
                <img class="img-fluid" height="100" src="static/Twitter.jpg" width="50">
            </div>

        </div>
    </div>


    <script>
    var datos = document.getElementById("datos");
    datos.innerHTML="
                <h1> CRISTIAN GONZALO</h1>
        ";


    var datos = document.getElementById("datos").innerHTML;//Leer valor
    document.getElementById("datos").innerHTML = "El texto inicial es: " + datos;//Asignar valor


    </script>
    {% endblock %}
