{% extends "base.html" %} {% block title %}DownloadGanymede{% endblock %} {% block
content %}

 <h3 align="center">Your text has been deleted by Ganymede</h3>
  <h5 align="center">Please download the document</h5>

  <br />


<div class="container-fluid h-100">
    		<div class="row w-100 align-items-center">
    			<div class="col text-center">
    				<a href="{{url_for('.delete_file_ganymede')}}">Click here to download your document</a>
    			</div>
    		</div>


    	</div>


{% endblock %}
