{% extends "base.html" %} {% block title %}AXORAS{% endblock %} {% block
content %}
<head></head>
<body >
   <section>
      <div class="container">
         <br />
         <div class="col text-center">
            <h7 class="display-h7" align="center">Your text has been formatted by Callisto</h7>
         </div>
         <br />
         <form>
            <div id="downloadDiv" name="downloadDiv">
               <div class="col text-center">
                  <a class="display-tools btn btn-link" id=download name=download href="{{url_for('.download_file', book=book)}}">Click here to download your document</a>
               </div>
            </div>
            <br/>
         </form>
      </div>
   </section>
</body>
<script>
   download.addEventListener("click", function() {

     	var downloadDiv = document.getElementById("downloadDiv");
        downloadDiv.style.visibility="hidden";
       //datos2.innerHTML="Loading... It might take up to two minutes";
       //var loader = document.getElementById("loader");
       //download.style.visibility="visible";
   });
</script>
{% endblock %}