{% extends "base.html" %} {% block title %}AXORAS{% endblock %} {% block content
%}
<html lang="en">
   <head>
      <title>Hello, world!</title>
   </head>
   <body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="70">
      <!-- HERO -->
      <div class="hero vh-100 d-flex align-items-center" id="home">
         <div class="container">
            <div class="row">
               <div class="col-lg-7 mx-auto text-center">
                  <h1 class="display-4 text-white">Get the best version of your book</h1>
                  <p class="text-white my-3">These free tools will help you at every step</p>
                  <p class="text-white my-3">Imagine, edit, format and publish it! </p>
                  <a href="#tools" class="btn btn-outline-light">Get Started</a>
               </div>
            </div>
         </div>
      </div>
      <!-- //HERO -->
      <!-- FEATURES -->
      <section class="row w-100 py-0" id="features">
         <div><br/></div>
         <div class="col-lg-6 col-img"></div>
         <div class="col-lg-6 py-5">
            <div class="container ">
               <div class="row ">
                  <div class="col-md-10 offset-md-1">
                     <br/>
                     <br/>
                     <h6 class="text-primary">WHY TO USE WRITER TOOLS</h6>
                     <h1>Best  solutions for your book</h1>
                     <div class="feature d-flex mt-5">
                        <div class="iconbox me-3">
                           <i class='bx bxs-comment-edit'></i>
                        </div>
                        <div>
                           <h5>Safe & Free</h5>
                           <p>Writer Tools are free and you can use them as many times as you need. Nobody has access to your information. </p>
                        </div>
                     </div>
                     <div class="feature d-flex">
                        <div class="iconbox me-3">
                           <i class='bx bxs-user-circle'></i>
                        </div>
                        <div>
                           <h5>Continuous Improvement</h5>
                           <p>We daily receive comments from our friends/users, who help us to improve our tools.</p>
                        </div>
                     </div>
                     <div class="feature d-flex">
                        <div class="iconbox me-3">
                           <i class='bx bx-happy-alt'></i>
                        </div>
                        <div>
                           <h5>Good Vibes</h5>
                           <p>We developed these tools to help you publish your books, with the best possible quality. We can't wait to hear you made it!</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- FEATURES -->
      <!-- TOOLS -->
      <section id="tools" class="bg-light">
         <div class="container">
            <div class="row mb-5">
               <div class="col-md-8 mx-auto text-center">
                  <br/><br/><br/>
                  <h6 class="text-primary">WRITER TOOLS</h6>
                  <h1>Tools</h1>
                  <p>Discover our tools. If there is something you need, but it is not here, contact us!</p>
               </div>
            </div>
            <div class="row g-4">
               <div class="col-md-4">
                  <div class="blog-post card-effect">
                     <a href="/callisto"><img src="static/img/Callisto.jpg" alt=""></a>
                     <h5 class="mt-4"><a href="/callisto">Callisto</a></h5>
                     <p>Will automatically format your text ready to be published on Amazon KDP or the format you need. You can also select the option to format it for your editor.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="blog-post card-effect">
                     <a href="/ganymede"><img src="static/img/Ganymede.jpg" alt=""></a>
                     <h5 class="mt-4"><a href="/ganymede">Ganymede</a></h5>
                     <p>Will analyze your text and create a report with the most important grammar and structure items. It does not replace Grammarly.com, but it is a complement.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="blog-post card-effect">
                     <a href="/io"><img src="static/img/Io.jpg" alt=""></a>
                     <h5 class="mt-4"><a href="/io">Io</a></h5>
                     <p>Offers some friendly templates to improve the creation of your characters, the structure of your story and the logic flow of causes and events. </p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- TOOLS -->
      <!-- MEDIA -->
      <section id="media" class="bg-light">
         <div class="container">
            <div class="row mb-5">
               <div class="col-md-8 mx-auto text-center">
                  <br/><br/><br/>
                  <h6 class="text-primary">MEDIA</h6>
                  <h1>Latest News From The Blog</h1>
                  <p>Lorem ipsum dolor sit amet consectetur nisi necessitatibus repellat distinctio eveniet eaque fuga
                     in cumque optio consectetur harum vitae debitis sapiente praesentium aperiam aut
                  </p>
               </div>
            </div>
            <div class="row g-4">
               <div class="col-sm-4">
                  <div class="blog-post card-effect">
                     <img src="static/img/Callisto.jpg" alt="">
                     <h5 class="mt-4"><a href="#">harum vitae debitis sapiente praesentium aperiam au</a></h5>
                     <p>Lorem ipsum dolor sit amet consectetur nisi necessitatibus repellat distinctio eveniet </p>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="blog-post card-effect">
                     <img src="static/img/Ganymede.jpg" alt="">
                     <h5 class="mt-4"><a href="#">harum vitae debitis sapiente praesentium aperiam au</a></h5>
                     <p>Lorem ipsum dolor sit amet consectetur nisi necessitatibus repellat distinctio eveniet </p>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="blog-post card-effect">
                     <img src="static/img/Io.jpg" alt="">
                     <h5 class="mt-4"><a href="#">harum vitae debitis sapiente praesentium aperiam au</a></h5>
                     <p>Lorem ipsum dolor sit amet consectetur nisi necessitatibus repellat distinctio eveniet </p>
                  </div>
               </div>
            </div>
         </div>
         <br/><br/><br/>
      </section>
      <!-- MEDIA -->
      <!-- TEAM -->
      <section id="contact">
         <div class="container">
            <div class="row mb-5">
               <div class="col-md-8 mx-auto text-center">
                  <br/><br/><br/>
                  <h6 class="text-primary">CONTACT</h6>
                  <h1>Meet me</h1>
                  <p>I am looking forward to hearing from you. If you found a bug in our tools, if you think there is something we could improve, if you have an idea for a new feature, or if you were able to publish your book, please contact me by  the means of your choice.</p>
               </div>
            </div>
            <div class="row text-center g-4 ">
               <div class=" col-lg-4 col-sm-6">
                  <div class="team-member card-effect ">
                     <img src="img/team1.jpg" alt="">
                     <h5 class="mb-0 mt-4">Cristian G. P.</h5>
                     <p>Systems Engineer</p>
                     <p>English to Spanish Translator</p>
                     <div class="social-icons">
                        <a href="#"><i class='bx bx-envelope'></i></a>
                        <a href="#"><i class='bx bxl-instagram-alt'></i></a>
                        <a href="#"><i class='bx bxl-youtube'></i></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- TEAM -->
      <div><br/></div>
      <script src="js/bootstrap.bundle.min.js"></script>
   </body>
</html>
{% endblock %}