{% extends "base.html" %} {% block title %}AXORAS{% endblock %} {% block
content %}
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Io</title>
   </head>
   <body class="tool">
      <!-- TEMPLATES -->
      <section id="templates" >
         <div class="container">
            <div class="row mb-5">
               <div class="col-md-8 mx-auto text-center">
                  <br />
                  <h7  class="display-h7 text-white">Io Templates</h7>
               </div>
            </div>
            <div class="row g-4">
               <div class="col-md-4">
                  <div class="blog-post card-effect">
                     <a href="/ioCharacter"><img src="static/img/character.jpg" alt=""></a>
                     <h5 class="mt-4"><a href="/ioCharacter">Characters</a></h5>
                     <p>Create 3D characters full of life and personality. Make them real and interesting </p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="blog-post card-effect">
                     <a href="/ioCauseEffect">
                     <img src="static/img/causeEffect.jpg" alt="">
                     </a>
                     <h5 class="mt-4"><a href="/ioCauseEffect">Cause-Effect Diagram</a></h5>
                     <p>This visual tool organizes the causes for a specific result, by graphically displaying them in increasing detail</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="blog-post card-effect">
                     <a href= "https://trello.com/b/PwyJcy8S/book-structure-wwwaxorascom" target="_blank">
                     <img src="static/img/structure.jpg" alt="">
                     </a>
                     <h5 class="mt-4"><a href="https://trello.com/b/PwyJcy8S/book-structure-wwwaxorascom" target="_blank">Book Structure</a></h5>
                     <p>Plan your book and start organizing your thoughts. Put your creativity and order in this tool </p>
                  </div>
               </div>
            </div>
         </div>
         <br/>
      </section>
      <!-- TEMPLATES -->
   </body>
</html>
{% endblock %}