{% extends "base.html" %} {% block title %}AXORAS{% endblock %} {% block
content %}
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Io</title>
   </head>
   <body class="tool">
      <!-- TEMPLATES -->
      <section id="templates" >
         <div class="container">
            <div class="row mb-5">
               <div class="col-md-8 mx-auto text-center">
                  <br />
                  <h7  class="display-h7 text-white">Io Templates</h7>
               </div>
            </div>
            <div class="row g-4">
               <div class="col-md-4">
                  <div class="blog-post card-effect">
                     <a href="/ioCharacter"><img src="static/img/character.jpg" alt=""></a>
                     <h5 class="mt-4"><a href="/ioCharacter">Characters</a></h5>
                     <p>Lorem ipsum dolor sit amet consectetur nisi necessitatibus repellat distinctio eveniet </p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="blog-post card-effect">
                     <a href="/ioCauseEffect">
                     <img src="static/img/causeEffect.jpg" alt="">
                     </a>
                     <h5 class="mt-4"><a href="/ioCauseEffect">Cause Effect Diagram</a></h5>
                     <p>Lorem ipsum dolor sit amet consectetur nisi necessitatibus repellat distinctio eveniet </p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="blog-post card-effect">
                     <a href="/io">
                     <img src="static/img/structure.jpg" alt="">
                     </a>
                     <h5 class="mt-4"><a href="/io">Story Structure</a></h5>
                     <p>Lorem ipsum dolor sit amet consectetur nisi necessitatibus repellat distinctio eveniet </p>
                  </div>
               </div>
            </div>
         </div>
         <br/>
      </section>
      <!-- TEMPLATES -->
   </body>
</html>
{% endblock %}